/* Register */

 
       /* Navbar */
.hello-msg{
            font-size: 20px;
            color: #fff;
            margin-right: 20px;
          }
          #title{
            color:white;
            font-size: 35px;
            font-family : impact;
          }
         
                  